<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/main.css" >
    
    <title>Movies App ! :D</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light "> <!-- l'attribut fixed-top permet d'avoir la barre mêmequand l'image descend-->
    <a class="navbar-brand" href="#">Navbar oui, oui !</a>
    <img src="/img/Logo_seigneur_anneaux.webp" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Film app</a>
        <a class="nav-item nav-link" href="/movies">Films</a>
        <a class="nav-item nav-link" href="/movie-search">Recherche de film</a>
        <a class="nav-item nav-link" href="/search">Recherche par note</a>
        <span id="connectionLink"></span>
        
      </div>
    </div>
  </nav>